body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
header{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.685);
}
footer{
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 16px;
    /* position: relative; */
    bottom: 0%;
    text-align: center;
}

img{
    top: 0%;
    margin: 0%;
    padding: 0%;
    border: 0px;
    float: right;
    position: -webkit-sticky;
    position: fixed;
    right: 0%;
}
article{
    min-width: 300px;
    margin-top: 10px;
    padding: 10px;
}
h2{
    margin-left: 10px;
}
input{
    width: 300px;
    border: none;
    background-color: white;
    border-bottom: 1px solid gray;
    height: 30px;
}
input, label, p, #district{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-weight: bold;
}
iframe{
    margin: 20px;
    height: 600px; 
    width: 98%;
}
#district{
    height: 50px;
}
input[name^="option"]{
    width: 20px;
    height: 20px;
}
.btns{
    margin-left: 400px;
}
.btns button{
    display:inline-block;
    margin: 20px;
    width: 80px;
    border-radius: 4px;
    height: 30px;
    color: white;
    font-size: 18px;
    bottom: 50%;
    /* float:right; */
    border: none;
    background-color: rgb(175, 102, 243);
}